#podkreslony {
	color: #00ff00;
	font-size: 20px;
	text-decoration: underline;
}
#pogrubiony {
	color: rgb(0 0 255);
	font-weight: bold;
	font-size: 0.8cm;
}
#pochylony {
	color: rgb(100%, 0%, 0%);
	font-style: italic;
	font-size: 0.25in;
}

